*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/*------ Header Styles ------*/
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
/*------ Navigation Styles -------*/
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 350px;
}

.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{ 
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

nav .fas {
    display: none;
}
/*---- Styles for smaller screens ----*/
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    nav img{
        width: 300px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 120px;
        top: 0;
        right: -120px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fas{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 20px;
    }
}

/*------courses-----*/

.courses{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.courses a{
    text-decoration: none;
    text-align: left;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

/*---- Styles for smaller screens ----*/
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}


/*------campus-----*/

.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px; 
}
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(226,0,0,0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

/*-------facilities------*/

.services{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.services-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.services-col img{
    width: 100%;
    border-radius: 10px;
}
.services-col p{
    padding: 0;
}
.services-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/*-------testimpnials------*/

.testimonials{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.testimonials-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.testimonials-col img{
    height: 80px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.testimonials-col p{
    padding: 0;
}
.testimonials-col h3{
    margin-top: 15px;
    text-align: left;
}
.fas{
    color: #f44336;
}

/*---- Styles for smaller screens ----*/
@media(max-width: 700px){
    .testimonials-col img{
        margin-left: 0px;
        margin-right: 15px;
    }
}

/*-------call to action------*/

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

/*---- Styles for smaller screens ----*/s
@media(max-width: 700px){
    .cta h1{
        font-size: 25px;
    }
}

/*-------footer------*/

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.footer-col{
    flex-basis: 55%;
    background: #fff;
    border-radius: 0px;
    margin-bottom: 5%;
    padding: 20px 10px;
    box-sizing: border-box;
    transition: 0.5s;
}
.footer-col ul{
    list-style: none;
    padding: 8px 12px;
}
.footer-col ul li a{
    color: #808080;
    text-decoration: none;
    font-size: 14px;
    padding: 8px 12px;
}
.footer-col h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.footer-col a{
    text-decoration: none;
    text-align: left;
}
.footer-col ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.footer-col ul li:hover::after{
    width: 20%;
}
.footer-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
/*---- Styles for smaller screens ----*/
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/*-------About Us page-----*/

.sub-header{
    height: 40vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/banner.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-header nav {
    margin-bottom: 0; /* Ensure no extra margin at the bottom of the nav */
}

.sub-header h1 {
    margin-top: 5px; /* Decreased from 100px to 50px to move the h1 closer to the nav */
}
.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: center;
}
.about-sliate{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img{
    width: 100%;
}
.about-col h2{
    padding-top: 0;
}
.about-col p{
    padding: 15px 0 25px;
}

.red-btn{
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}
.red-btn:hover{
    color: #fff;
}

/*------News page-----*/
.news{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.row{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}
.news-col{
    flex-basis: 100%;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
}
.news-col p{
    text-align: left;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.news-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.news-col img{
    width: 100%;
    display: block;
    align-content: center;
}

/*-------blog content---------*/

.blog-content{
    width: 80%;
    margin: auto;
    padding: 60px 0;
}
.blog-content h2{
    text-align: center;
    margin: 2px 0;
}
.blog-content p{
    text-align: center;
}
.blog-left{
    flex-basis: 65%;
}
.blog-left img{
    width: 100%;
    margin-top: 5%;
}
.blog-left h2{
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}
.blog-left p{
    color: #999;
    padding: 0;
}

.blog-right{
    flex-basis: 32%;
}
.blog-right h3{
    background: #f44336;
    color: #fff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 10%;
}
.blog-right div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box;
}
.comment-box{
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}
.comment-box h3{
    text-align: left;
}
.comment-form input, .comment-form textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}
.comment-form button{
    margin: 10px 0;
}
/*---- Styles for smaller screens ----*/
@media(max-width: 700px){
    .sub-header h1{
        font-size: 24px;
    }
    .news-col img{
        flex-basis: 100%;
        width: 100%;
    }
}

/*-----contact us page-----*/

.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location contact-us{
    width: 80%;
    margin: auto;
    flex-basis: 48%;
    margin-bottom: 30px;
}
.location contact-us div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.cotact-details h2{
    font-size: 28px;
    margin: 10px;
    margin right: 30px;
}
.contact{
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    border: 1px solid #ccc;
}
.contact-row{
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
}
.contact-box{
    flex-basis: 80%;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px 12px;
    box-sizing: border-box;
    position: relative;
}
.contact-box input, .contact-box textarea{
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}
/*---- Styles for smaller screens ----*/
@media(max-width: 700px){
    .contact{
    width: 80%;
    padding-top: 10px;
    }
    .map iframe{
    width: 100%;
    }
}

/*------staff page-----*/
.staff{
    width: 80%;
    margin: auto;
    padding-top: 5px;
}
.row-staff{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}
.staff-col{
    flex-basis: 100%;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 12px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
}
.staff-col p{
    text-align: center;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.staff-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

/*-------stafftestimpnials------*/

.stafftestimonials{
    width: 80%;
    margin: auto;
    text-align: center;
}
.staff-row{
    display: flex;
    margin-top: 3%;
    justify-content: space-around;
}
.stafftestimonials-col{
    flex-basis: 42%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.stafftestimonials-col img{
    height: 80px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.stafftestimonials-col p{
    padding: 0;
}
.stafftestimonials-col h3{
    margin-top: 15px;
    text-align: left;
}
/*---- Styles for smaller screens ----*/
@media(max-width: 700px){
    .stafftestimonials-col img{
        margin-left: 0px;
        margin-right: 15px;
    }
    .staff-row{
    display: inline;
    margin-top: 3%;
    justify-content: space-between;
    }
    .stafftestimonials-col h3{
    margin-top: 1px;
    }
    .stafftestimonials-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 15px;
    border-radius: 50%;
    }
    .staff{
    width: 100%;
    }
    .stafftestimonials-col{
    flex-basis: 60%;
    }
}

/*-------HND------*/
.hnd{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.row{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}
.hnd-col{
    flex-basis: 100%;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
}
.hnd-col p{
    text-align: left;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
h4{
    text-align: left;
    font-weight: 600;
    margin: 10px 0;
}
.hnd-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

/*------image-----*/
.gallery{
    width: 90%;
    margin: auto;
    padding-top: 50px;
}
h2{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.gallery-row{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}
.gallery-col{
    flex-basis: 100%;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    overflow: hidden;
}

.gallery-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.gallery-col img{
    width: 100%;
    display: block;
    align-content: space-around;
}

